.wp-site-blocks,
form,
.wp-site-blocks .gform_wrapper form {
	& textarea,
	& select,
	& input[type="text"],
	& input[type="tel"],
	& input[type="url"],
	& input[type="password"],
	& input[type="number"],
	& input[type="month"],
	& input[type="week"],
	& input[type="email"],
	& input[type="search"],
	& input[type="select-one"] {
		border-radius: var(--wp--custom--border-radius--normal);
		background: transparent;
		border: var(--theme--border-width) solid var(--theme--border-color--secondary);
		color: inherit;
		padding: 0.75em 0.875em;
		font-size: var(--wp--preset--font-size--sm);
		font-family: inherit;
		font-weight: var(--theme--font-weight);
		width: 100%;
		outline: none;

		&::placeholder {
			color: var(--theme--text-color--faded);
		}

		&:focus {
			border-color: var(--theme--border-color--primary);
		}
	}

	& .gform_fields {
		grid-column-gap: var(--wp--preset--spacing--md);
		grid-row-gap: var(--wp--preset--spacing--md);
	}

	/* First/last name fields. */
	@media (max-width: 640px) {
		& .ginput_complex span {
			margin-bottom: var(--wp--preset--spacing--md);
		}
	}

	@media (min-width: 641px) {
		& .ginput_complex:not(.ginput_container_address) span:not([style*="display:none"]):not(.ginput_full) {
			padding-right: calc(var(--wp--preset--spacing--md) / 2);
		}

		&
			.gform_wrapper.gravity-theme
			.ginput_complex:not(.ginput_container_address)
			span:not([style*="display:none"]):not(.ginput_full)
			~ span:not(.ginput_full) {
			padding-left: calc(var(--wp--preset--spacing--md) / 2);
		}
	}

	& fieldset.gfield {
		margin-top: 0.325rem;
	}

	& label,
	& .gfield_label {
		cursor: pointer;
		display: block;
		font-weight: normal;
		font-size: var(--wp--preset--font-size--xxs);
		margin-bottom: 0.25em;
		color: var(--theme--text-color--faded);
	}

	& .gfield--type-choice {
		& .gchoice,
		& .ginput_container_consent {
			display: flex;
			flex-direction: row;
			align-items: center;
			position: relative;

			& label {
				margin-bottom: 0.325em;
			}
		}
	}

	& .gform_wrapper.gravity-theme .gform_validation_errors,
	& .gform_validation_errors {
		background: transparent;
		border-radius: var(--wp--custom--border-radius--normal);
		padding: var(--wp--preset--spacing--sm);
		margin: 0 0 var(--wp--preset--spacing--sm) 0;
		box-shadow: none;
	}

	& .gfield_validation_message,
	& .validation_message,
	& .gform_wrapper.gravity-theme .gfield_validation_message,
	& .gform_wrapper.gravity-theme .validation_message {
		background: none;
		color: var(--theme--text-color--faded);
		font-size: var(--wp--preset--font-size--xxs);
		font-weight: var(--theme--font-weight--semibold);
		border: none;
		padding: 0;
		margin: 0.5em 0 0 0;
	}

	& .gform_footer {
		padding-bottom: 0;
	}

	&.search-form {
		gap: var(--wp--preset--spacing--sm);

		& label {
			margin-bottom: 0 !important;
		}
	}
}

.fake-input-container {
	&.type-select {
		position: relative;

		&::after {
			content: "";
			display: block;
			width: calc(var(--theme--form-choice--input-size) / 2.5);
			height: calc(var(--theme--form-choice--input-size) / 2.5);
			border-left: 2px solid var(--wp--preset--color--primary);
			border-bottom: 2px solid var(--wp--preset--color--primary);
			position: absolute;
			top: 50%;
			margin-top: calc(var(--theme--form-choice--input-size) * -0.3);
			right: var(--theme--form-choice--input-size);
			transform: rotate(-45deg);
			z-index: 10;
			cursor: pointer;
		}

		& select {
			width: 100%;
			appearance: none;
			background: #fff;
			border: 1px solid var(--theme--border-color--primary);
			border-radius: var(--wp--custom--border-radius--small);
			cursor: pointer;
			padding-right: 2.5em !important;
		}
	}
}

/* Fake inputs */
input.faked {
	position: absolute;
	left: -9999px;
	opacity: 0;

	& + span.fake-input {
		display: inline-block;
		position: relative;
		width: var(--theme--form-choice--input-size);
		height: var(--theme--form-choice--input-size);
		border: 2px solid var(--wp--preset--color--primary);
		border-radius: 50%;
		margin-right: 0.375rem;
		background: #fff;

		&::after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: var(--wp--preset--color--primary);
			border: none;
			border-radius: 50%;
			transform: scale(0.5);
			opacity: 0;
		}

		&.type-checkbox {
			border-radius: var(--wp--custom--border-radius--small);

			&::after {
				--check-w: calc(var(--theme--form-choice--input-size) / 1.75);
				--check-h: calc(var(--theme--form-choice--input-size) / 3);
				background: transparent;
				border-radius: 0;
				transform: scale(1) rotate(-45deg);
				border-left: 2px solid var(--wp--preset--color--primary);
				border-bottom: 2px solid var(--wp--preset--color--primary);
				top: 50%;
				left: 50%;
				width: var(--check-w);
				height: var(--check-h);
				margin-top: calc(var(--check-h) * -0.75);
				margin-left: calc(var(--check-w) * -0.5);
			}
		}
	}

	&:checked + span.fake-input {
		&::after {
			opacity: 1;
		}
	}
}
