##
# Default configuration options for the environment.
#
# All of these options can be overriden by setting them as environment variables before starting
# the environment. You will need to restart your environment when changing any of these.
##

# Environment. Valid options are local, development, staging or production
WP_ENVIRONMENT_TYPE=local
#WP_CLI_HOME=local.site # optional

### API Database
#DB_HOST=localhost # optional
#DB_PREFIX=wp_ # optional
DB_NAME=local
DB_USER=root
DB_PASSWORD=root
#MYSQLI_DEFAULT_SOCKET=/var/run/mysqld/mysqld.sock # optional

### Home & URL
WP_HOME=https://local.site
WP_SITEURL=${WP_HOME}/wp

### Network Setup
#WP_ALLOW_MULTISITE=true # optional
#SUBDOMAIN_INSTALL=false # optional: set up multisite with sub directory or sub domain, only used if WP_ALLOW_MULTISITE=true

### Remote Images
#DEKODE_PREPEND_IMAGE_URL='https://stage.examplesite.no/' # optional - this requires the remote image must-use package

### Cache
WP_REDIS_HOST=false
WP_REDIS_DISABLED=true

### Disable WP Cron
DISABLE_WP_CRON=false

### Webpack BrowserSync
#BROWSER_SYNC_ENABLE=true
#BROWSER_SYNC_PROXY=https://sitename.local
#BROWSER_SYNC_PORT=3003
#BROWSER_SYNC_HTTPS=true

### Generate your keys here: https://roots.io/salts.html
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'
