*.log
*.sassc
.sass-cache
.DS_Store
.idea
.cache-loader
phpcs.xml

node_modules
vendor
wp

# Remove this when starting project …
/composer.lock

# Language files
web/content/languages

# Plugins
web/content/plugins

# Themes
web/content/themes/teft-theme

# Upgrade and uploads
web/content/upgrade
web/content/uploads

# Dotenv
.env
.env.*
!.env.example
