*.log
*.sassc
.sass-cache
.DS_Store
.idea
.cache-loader
phpcs.xml

node_modules
vendor
wp

# Remove this when starting project …
/composer.lock

# Language files
public/content/languages

# Plugins
public/content/plugins
public/content/mu-plugins/wp-resets

# Themes
public/content/themes/teft-theme

# Upgrade and uploads
public/content/upgrade
public/content/uploads

# Dotenv
.env
.env.*
!.env.example
