*.log
*.sassc
.sass-cache
.DS_Store
.idea
/vendor

db-sync/
tmp/
node_modules/

/shared
/local-config.php
/config.php
/sql-dump-*.sql
/content/sunrise.php
/content/uploads/
/content/upgrade/
/content/db.php
/content/themes/teft-theme
/content/plugins/*
/content/languages/*
!/content/languages/plugins/
/wp
/plugins
/.htaccess
/local-phpinfo.php
