<?xml version="1.0"?>
<ruleset>
	<file>.</file>
	<arg name="extensions" value="php" />
	<config name="testVersion" value="8.2-" />
	<rule ref="Dekode">
		<exclude name="Generic.Formatting.MultipleStatementAlignment.NotSameWarning" />
		<exclude name="WordPress.Arrays.MultipleStatementAlignment.DoubleArrowNotAligned" />
	</rule>
</ruleset>
