/* Preferred box-sizing value */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* fix the feature of 'hidden' attribute. */
:where([hidden]) {
	display: none !important;
}

.is-layout-flow,
.is-layout-flex.is-vertical,
.is-layout-constrained {
	border: solid #f00;
}
