@import "./config/_index.css";

/* Preferred box-sizing value */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* fix the feature of 'hidden' attribute. */
:where([hidden]) {
	display: none !important;
}
