body {
	--t2-link-list-typography-text-font-weight: var(--wp--custom--font-weight--bold);
	--t2-link-list-typography-description-color: var(--wp--preset--color--foreground);
	--t2-link-list-spacing-item-gap: var(--wp--preset--spacing--50) var(--wp--preset--spacing--40);
}

.t2-link-list-item .t2-link-list-item__link {
	align-items: flex-start;
	gap: var(--wp--preset--spacing--40);
}

.t2-link-list-item__icon,
.t2-link-list__icon--right .t2-link-list-item__icon {
	margin: unset;
}

.t2-link-list-item__content {
	display: flex;
	flex-direction: column;
	gap: var(--wp--preset--spacing--20);
}
