.wp-block-t2-nav-menu,
.wp-block-t2-nav-menu ul {
	list-style-type: none;
	margin: unset;
	padding-inline-start: unset;
}

.menu-item a,
.site-header-group .wp-block-button .wp-block-button__link {
	align-items: center;
	color: inherit;
	display: flex;
	gap: var(--wp--preset--spacing--xxxs);
}

/* Horizontal header menu style */
body .header-menu {
	display: flex;
	gap: var(--wp--preset--spacing--lg);
	margin-left: auto;
}

/* Vertiacal layout for header menus on mobile */
body .header-menu-vertical,
body .header-menu-vertical .sub-menu {
	display: flex;
	flex-direction: column;
	gap: var(--wp--preset--spacing--xs);

	& a {
		padding: unset;
	}
}

/* Left indent for mobile sub-menus */
body .header-menu .sub-menu {
	margin-top: var(--wp--preset--spacing--md);
	padding-left: var(--wp--preset--spacing--md);
}

/* Footer primary menu */
.footer-primary-menu {
	font-family: var(--wp--preset--font-family--heading);
	font-size: var(--wp--preset--font-size--yl);
	font-weight: var(--wp--custom--font-weight--semibold);
	line-height: var(--wp--custom--line-height--12);
}

.footer-primary-menu ul {
	display: flex;
	flex-direction: column;
	gap: var(--wp--preset--spacing--md);
}

/* Footer secondary menu */
.footer-secondary-menu ul {
	display: flex;
	flex-direction: column;
	gap: var(--wp--preset--spacing--xs);
}
