.wp-block-image,
.wp-block-post-featured-image {
	display: flex;
	flex-direction: column;
	gap: var(--wp--preset--spacing--sm);
}

.wp-block-image img,
.wp-block-post-featured-image img {
	display: block;
}

/* Undo default styling for all a from WP core */
.wp-block-post-featured-image a {
	display: unset;
	height: unset;
}

/* Redo styling for direct children only to exclude links in figcaption */
.wp-block-post-featured-image > a {
	display: block;
}
