.wp-block-image,
.wp-block-post-featured-image {
	display: flex;
	flex-direction: column;
	gap: var(--wp--preset--spacing--20);
}

.wp-block-image img,
.wp-block-post-featured-image img {
	display: block;
}

/* Reset styling for figcaption (Image block overrides caption styling from theme.json) */
.wp-block-image figcaption {
	color: unset;
	font-size: var(--wp--preset--font-size--small);
	line-height: unset;
	margin: unset;
	text-align: unset;
}
