@import "./image.css";

/* Wrapper around featured image and custom figcaption field in editor */
.wp-block-post-featured-image-wrapper {
	position: relative;
}

/* Show custom figcaption input over image in editor to avoid toolbar issue (see WDMD-5) */
.wp-block-post-featured-image-wrapper.is-selected.is-show-caption.is-use-custom-caption {

	& .wp-block-post-featured-image {
		margin-bottom: unset;
	}

	& figcaption {
		background-color: #ffff;
		bottom: 0.5rem;
		left: 0.5rem;
		padding: 0.5rem;
		position: absolute;
	}
}
