body {
	--horizontal-layout-gap: var(--t2-featured-content-layout-spacing-column-gap, var(--wp--preset--spacing--lg));
}

.wp-block-post-template.is-layout-flow {
	display: flex;
	flex-direction: column;
}

.wp-block-post-template.is-layout-flow,
.wp-block-post-template.is-layout-flex,
.wp-block-post-template.is-layout-grid {
	gap: var(--t2-featured-content-layout-spacing-row-gap, var(--wp--preset--spacing--xxl)) var(--horizontal-layout-gap);
}

/* Horizontal scrollable layout style */
body:not(.wp-admin) .wp-block-query.is-style-horizontal .wp-block-post-template {
	display: block;
}

body:not(.wp-admin) .wp-block-query.is-style-horizontal .wp-block-post-template core-scroll,
.editor-styles-wrapper .wp-block-query.is-style-horizontal:not(.is-selected, .has-child-selected) .wp-block-post-template {
	display: flex;
	gap: var(--horizontal-layout-gap);

	& > li {
		min-width: 80%;
	}

	@media (--teft-viewport-wide-down) {
		margin-left: calc(-1 * var(--wp--style--root--padding-left)) !important;
		max-width: calc(100% + var(--wp--style--root--padding-left) + var(--wp--style--root--padding-right));
		width: calc(100% + var(--wp--style--root--padding-left) + var(--wp--style--root--padding-right));

		& > :first-child {
			margin-left: var(--wp--style--root--padding-left);
		}

		& > :last-child {
			margin-right: var(--wp--style--root--padding-right);
		}
	}
}

.editor-styles-wrapper .wp-block-query.is-style-horizontal:not(.is-selected, .has-child-selected) .wp-block-post-template {
	overflow-x: auto;
}

/* Adjust card size to numbers of columns on large up */
@media (--teft-viewport-large) {

	body:not(.wp-admin) .wp-block-query.is-style-horizontal .wp-block-post-template.columns-1 core-scroll > li,
	.editor-styles-wrapper .wp-block-query.is-style-horizontal:not(.is-selected, .has-child-selected) .wp-block-post-template.columns-1 > li {
		min-width: 100%;
	}

	body:not(.wp-admin) .wp-block-query.is-style-horizontal .wp-block-post-template.columns-2 core-scroll > li,
	.editor-styles-wrapper .wp-block-query.is-style-horizontal:not(.is-selected, .has-child-selected) .wp-block-post-template.columns-2 > li {
		min-width: calc(50% - calc(calc(1 / 2) * var(--horizontal-layout-gap)));
	}

	body:not(.wp-admin) .wp-block-query.is-style-horizontal .wp-block-post-template.columns-3 core-scroll > li,
	.editor-styles-wrapper .wp-block-query.is-style-horizontal:not(.is-selected, .has-child-selected) .wp-block-post-template.columns-3 > li {
		min-width: calc(33.33% - calc(calc(2 / 3) * var(--horizontal-layout-gap)));
	}

	body:not(.wp-admin) .wp-block-query.is-style-horizontal .wp-block-post-template.columns-4 core-scroll > li,
	.editor-styles-wrapper .wp-block-query.is-style-horizontal:not(.is-selected, .has-child-selected) .wp-block-post-template.columns-4 > li {
		min-width: calc(25% - calc(calc(3 / 4) * var(--horizontal-layout-gap)));
	}

	body:not(.wp-admin) .wp-block-query.is-style-horizontal .wp-block-post-template.columns-5 core-scroll > li,
	.editor-styles-wrapper .wp-block-query.is-style-horizontal:not(.is-selected, .has-child-selected) .wp-block-post-template.columns-5 > li {
		min-width: calc(20% - calc(calc(4 / 5) * var(--horizontal-layout-gap)));
	}

	body:not(.wp-admin) .wp-block-query.is-style-horizontal .wp-block-post-template.columns-6 core-scroll > li,
	.editor-styles-wrapper .wp-block-query.is-style-horizontal:not(.is-selected, .has-child-selected) .wp-block-post-template.columns-6 > li {
		min-width: calc(16.66% - calc(calc(5 / 6) * var(--horizontal-layout-gap)));
	}
}
