.site-header--nav {
	display: none;
	width: 100%;
}

.main-navigation__is-visible .site-header--nav {
	display: block;
}

.site-header--nav-toggle {
	align-items: center;
	background-color: transparent;
	border: 0;
	display: inline-flex;
	padding: 10px;
}

.site-header--nav-toggle svg {
	height: 1.5em;
	margin-right: 0.5em;
	vertical-align: bottom;
	width: 1.5em;
}

.main-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-menu a {
	align-items: center;
	display: flex;
	height: 60px;
	letter-spacing: 0;
	line-height: 1;
	text-decoration: none;
	white-space: nowrap;
}

.menu-item {
	border-bottom: 1px solid #d1d5da;
}

.menu-item:first-of-type {
	border-top: 1px solid #d1d5da;
}

@media (--theme-desktop-menu) {
	.site-header--nav-toggle {
		display: none;
	}

	.site-header--nav {
		display: block;
		width: auto;
	}

	.main-menu {
		display: flex;
	}

	.menu-item,
	.menu-item:first-of-type {
		border: none;
	}

	.main-menu a {
		height: auto;
		padding: 0.65625em 0.9em;
	}
}
