.wp-block-media-text {
	& .wp-block-media-text__media img {
		border-radius: var(--theme--border-radius);
	}

	& .wp-block-media-text__content {
		& .wp-block-heading {
			margin-bottom: 0;
		}

		& > p {
			&:first-of-type {
				margin-top: var(--theme--spacing--xs);
			}

			&:last-of-type {
				margin-bottom: var(--theme--spacing--md);
			}
		}

		@media (width <= 600px) {
			padding: 0;
		}
	}
}
