.wp-block-query-pagination {
	& .page-numbers {
		display: inline-block;
		height: 48px;
		width: 48px;
		border: 1px solid var(--wp--preset--color--neutral-300);
		border-radius: 50%;
		text-align: center;
		text-decoration: none;
		line-height: 48px;
		color: #331e36;

		&.dots {
			border: 0;
		}

		&.current {
			background-color: var(--wp--preset--color--primary-500);
			color: var(--wp--preset--color--white);
		}

		&:hover {
			background-color: var(--wp--preset--color--primary-100);
			color: var(--wp--preset--color--cta);
		}

		&:focus {
			background-color: var(--wp--preset--color--cta-tint);
		}
	}

	& .wp-block-query-pagination-previous-arrow,
	& .wp-block-query-pagination-next-arrow {
		color: var(--wp--preset--color--primary-500);
	}
}
