.wp-block-quote {
	padding-left: calc(var(--theme--spacing--lg) + var(--theme--spacing--xs));
	position: relative;

	&::before {
		background-color: var(--theme--color--primary);
		content: "";
		display: inline-block;
		height: 1.75rem;
		left: 0;
		mask: var(--theme-svg-quote) 0 / cover;
		position: absolute;
		top: 0;
		vertical-align: middle;
		width: 1.75rem;
	}

	& cite {
		display: block;
		margin-top: calc(var(--theme--spacing--xs) + calc(var(--theme--spacing--xs) / 2));
	}

	&.has-text-align-right {
		padding-left: 0;
		padding-right: calc(var(--theme--spacing--lg) + var(--theme--spacing--xs));

		&::before {
			left: auto;
			mask: var(--theme-svg-quote-reverse) 0 / cover;
			right: 0;
		}
	}

	&.has-text-align-center {
		padding-left: calc(var(--theme--spacing--lg) + var(--theme--spacing--xs));
		padding-right: calc(var(--theme--spacing--lg) + var(--theme--spacing--xs));

		&::after,
		&::before {
			background-color: var(--theme--color--primary);
			content: "";
			display: inline-block;
			height: 1.75rem;
			position: absolute;
			top: 0;
			vertical-align: middle;
			width: 1.75rem;
		}

		&::after {
			left: auto;
			mask: var(--theme-svg-quote-reverse) 0 / cover;
			right: 0;
		}

		&::before {
			left: 0;
			mask: var(--theme-svg-quote) 0 / cover;
		}
	}
}
