.wp-block-search__button-inside .wp-block-search__inside-wrapper {
	border: var(--theme--border-width) solid var(--theme--border-color--secondary);
	border-radius: var(--theme--border-radius);
	padding: 0;

	&:has(input[type="search"]:is(:focus-visible)) {
		border-color: var(--theme--color--primary);
	}

	& input[type="search"] {
		border: 0;
	}

	& .wp-block-search__button {
		margin-top: 4px;
		margin-bottom: 4px;
		margin-right: 0.25rem;
		margin-left: 0;
		padding: 0.667em 1em;
	}
}
