.wp-block-tag-cloud {
	& .tag-cloud-link {
		border-radius: var(--theme--border-radius--lg);
		background: var(--theme--color-background-light-alt);
		text-transform: uppercase;
		padding: var(--theme--spacing--xs) var(--theme--spacing--sm);
		text-align: center;
		text-decoration: none;
		color: var(--theme--color--primary);
		font-size: var(--theme--font-size--xs);
	}
}
