/**
 * Internal dependencies
 */
@import "./custom-variables.css";
@import "../template-parts/header/header.css";
@import "../template-parts/footer/footer.css";

*,
::before,
::after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

img {
	height: auto;
}

.main-navigation__is-visible .site-content {
	display: none;

	@media (--theme-desktop-menu) {
		display: block;
	}
}

.site-container {
	margin: 0 auto;
	max-width: var(--t2-layout-wide);
}

.entry-header {
	margin: 0 auto;
	width: calc(100% - var(--t2-spacing-horizontal));
}

.entry-title,
.entry-excerpt {
	margin-left: auto;
	margin-right: auto;
	max-width: var(--t2-layout-content);
}
