*,
::before,
::after {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

main.site-main-content {
	& > h1 {
		margin-top: var(--theme--spacing--xl) !important;
		margin-bottom: var(--theme--spacing--lg) !important;
	}
}
