:where(body) {
	/* Colors - literal tokens */
	--theme--color--primary: var(--wp--preset--color--primary);
	--theme--color--primary-800: var(--wp--preset--color--primary-800);
	--theme--color--primary-200: var(--wp--preset--color--primary-200);
	--theme--color--primary-100: var(--wp--preset--color--primary-100);
	--theme--color--neutral-500: var(--wp--preset--color--neutral-500);
	--theme--color--neutral-400: var(--wp--preset--color--neutral-400);
	--theme--color--neutral-300: var(--wp--preset--color--neutral-300);
	--theme--color--neutral-200: var(--wp--preset--color--neutral-200);
	--theme--color--neutral-100: var(--wp--preset--color--neutral-100);
	--theme--color--info-error: var(--wp--preset--color--info-error);
	--theme--color--info-attention: var(--wp--preset--color--info-attention);

	/* Color aliases */
	--theme--color--white: var(--wp--preset--color--neutral-100);

	/* Colors - semantic tokens */
	--theme--text-color: var(--wp--preset--color--neutral-500);
	--theme--text-color--faded: var(--theme--color--neutral-400);

	--theme--border-color--primary: var(--wp--preset--color--primary);
	--theme--border-color--secondary: var(--theme--color--primary-100);

	/* Template part tokens */
	--theme--footer--background-color: var(--theme--color-background-light);
	--theme--footer--text-color: var(--theme--text-color);

	/* WIP Should we do like --theme--color-background--light ? */
	--theme--color-background-light: var(--wp--preset--color--neutral-200);
	--theme--color-background-light-alt: var(--theme--color--primary-100);
	--theme--color-background-light-alt-hover: var(--theme--color--primary-200);

	/* Border radius */
	--theme--border-radius--sm: var(--wp--custom--border-radius--small);
	--theme--border-radius: var(--wp--custom--border-radius--normal);
	--theme--border-radius--lg: var(--wp--custom--border-radius--large);

	/* Border size */
	--theme--border-width: 0.125rem; /* 2px */

	/**
	 * Font families - semantic tokens (these should be used in other styles).
	 */
	--theme--font-family--title: var(--wp--preset--font-family--secondary);
	--theme--font-family--body: var(--wp--preset--font-family--primary);

	/* Font size */
	--theme--font-size--xxs: var(--wp--preset--font-size--xxs);
	--theme--font-size--xs: var(--wp--preset--font-size--xs);
	--theme--font-size--sm: var(--wp--preset--font-size--sm);
	--theme--font-size: var(--wp--preset--font-size--normal);
	--theme--font-size--md: var(--wp--preset--font-size--md);
	--theme--font-size--lg: var(--wp--preset--font-size--lg);
	--theme--font-size--xl: var(--wp--preset--font-size--xl);
	--theme--font-size--xxl: var(--wp--preset--font-size--xxl);

	/* Font weight */
	--theme--font-weight--bold: 700;
	--theme--font-weight--semibold: 600;
	--theme--font-weight--medium: 500;
	--theme--font-weight: 400; /* Default/General */
	--theme--font-weight--regular: var(--theme--font-weight);
	--theme--font-weight--light: 300;

	/* Line height */
	--theme--line-height--sm: var(--wp--custom--line-height--small); /* 110% */
	--theme--line-height--md: var(--wp--custom--line-height--medium); /* 130% */
	--theme--line-height: var(--wp--custom--line-height--normal); /* Default/General 150% */
	--theme--line-height--lg: var(--wp--custom--line-height--normal); /* 150% */

	/* Spacing */
	--theme--spacing--xs: var(--wp--preset--spacing--xs);
	--theme--spacing--sm: var(--wp--preset--spacing--sm);
	--theme--spacing--md: var(--wp--preset--spacing--md);
	--theme--spacing--lg: var(--wp--preset--spacing--lg);
	--theme--spacing--xl: var(--wp--preset--spacing--xl);

	/* Form elements */
	--theme--form-choice--input-size: 1.25rem;
}
