.wp-block-dekode-events-event-registration {
	border-radius: var(--theme--border-radius);
	border: none;
	background: var(--theme--color-background-light);
	padding: var(--theme--spacing--lg);
	margin-top: var(--theme--spacing--md) !important;

	& div.gform_wrapper form {
		& label.gform-field-label--type-sub {
			display: none;
		}

		& div.ginput_container_consent {
			& label {
				margin-bottom: 0 !important;

				& a {
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}

		& div.gform_footer {
			margin-top: calc(var(--theme--spacing--sm) * 1.5);
			justify-content: flex-start !important;
		}
	}
}
