name: Deploy new release

on:
    release:
        types: [published]

jobs:
    deploy:
        uses: 'dekodeinteraktiv/public-github-actions/.github/workflows/deploy-artifact.yml@main'
        with:
            ARTIFACT_NAME: 'compressed-code-artifact'
            RSYNC_FILTER_FILE: './tools/github/rsync-file-filter.rules'
            BUILD_FOR_DEPLOY: true
        secrets:
            SERVER_USERNAME: ${{ secrets.PROD_DEPLOYMENT_USERNAME }}
            SERVER_HOSTNAME: ${{ secrets.PROD_DEPLOYMENT_HOSTNAME }}
            DEPLOYMENT_PATH: ${{ secrets.PROD_DEPLOYMENT_PATH }}
            SERVER_PRIVATE_KEY: ${{ secrets.ACTIONS_DEPLOYMENT_KEY_ED25519_BASE64 }}
            SERVER_HOSTKEY: ${{ secrets.PROD_DEPLOYMENT_HOSTKEY }}
