name: Manually deploy to stage

on:
    workflow_dispatch:
        inputs:
            TAG:
                description: 'Version to deploy, can be a tag, branch, commit or empty for latest'
                required: false
                type: string
                default: ''
            PHP_VERSION:
                description: 'The PHP version to use'
                required: false
                type: string
            BUILD_FOR_DEPLOY:
                description: 'Whether to build for deployment immediately or to keep developer tools'
                required: false
                type: boolean
                default: false

jobs:
    deploy:
        uses: 'dekodeinteraktiv/public-github-actions/.github/workflows/deploy-artifact.yml@main'
        timeout-minutes: 10
        with:
            TAG: ${{ inputs.TAG }}
            PHP_VERSION: ${{ inputs.PHP_VERSION }}
            BUILD_FOR_DEPLOY: ${{ inputs.BUILD_FOR_DEPLOY }}
            ARTIFACT_NAME: 'compressed-code-artifact'
            RSYNC_FILTER_FILE: './tools/github/rsync-file-filter.rules'
        secrets:
            SERVER_USERNAME: ${{ secrets.STAGE_DEPLOYMENT_USERNAME }}
            SERVER_HOSTNAME: ${{ secrets.STAGE_DEPLOYMENT_HOSTNAME }}
            DEPLOYMENT_PATH: ${{ secrets.STAGE_DEPLOYMENT_PATH }}
            SERVER_PRIVATE_KEY: ${{ secrets.ACTIONS_DEPLOYMENT_KEY_ED25519_BASE64 }}
            SERVER_HOSTKEY: ${{ secrets.STAGE_DEPLOYMENT_HOSTKEY }}
            COMPOSER_AUTH: ${{ secrets.COMPOSER_AUTH }}
