name: Psalm Static analysis

on:
    workflow_dispatch:
    #schedule:
        # Run every Monday at 1am.
        #- cron: '0 1 * * 1'

jobs:
    psalm:
        name: Psalm
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Psalm
              uses: docker://ghcr.io/psalm/psalm-github-actions
              env:
                  COMPOSER_AUTH: ${{ secrets.COMPOSER_AUTH }}
              with:
                  security_analysis: true
                  report_file: psalm-results.sarif

            - name: Upload Security Analysis results to GitHub
              uses: github/codeql-action/upload-sarif@v2
              with:
                  sarif_file: psalm-results.sarif
