:where(body) {
	--t2-byline-avatar-radius: var(--theme--border-radius--sm);
	--t2-byline-color-small-text: var(--theme--text-color--faded);
	--t2-byline-spacing: 0.75rem;
}

.t2-byline {
	align-items: flex-start;
	flex-direction: column;
	gap: var(--t2-byline-spacing);
}

.t2-byline__author-role {
	font-size: var(--theme--font-size--xs);
}

.t2-byline__author-link {
	color: var(--theme--text-color);
	font-size: var(--theme--font-size--md);
	font-weight: var(--theme--font-weight--bold);
}

.t2-byline__time {
	line-height: var(--theme--line-height--sm);

	& small {
		font-size: var(--theme--font-size--xxs);

		& + small {
			border-color: var(--theme--color--neutral-200);
		}
	}
}
