@import "../../config/mixins.css";

.t2-faq-item {
	border-radius: var(--theme--border-radius, 8px);
	background: var(--theme--color-background-light);
	border-color: var(--theme--color-background-light);
	padding: var(--theme--spacing--sm);

	&:hover,
	&:focus,
	&:focus-within {
		background: var(--theme--color--primary-100);
	}

	& svg.t2-icon {
		fill: var(--theme--color--primary);
	}

	& .t2-faq-title {
		font-family: var(--theme--font-family--title);

		& button {
			padding-bottom: var(--theme--spacing--xs);
		}
	}
}

.t2-faq button.t2-faq-trigger {
	@mixin display--3;
}
