@import "../../config/media.css";

.t2-featured-query-post {
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: var(--theme--spacing--md);
	align-items: center;

	@media (--theme--medium-and-up) {
		grid-template-columns: 1fr;
		align-items: flex-start;
	}
}
