@import "../../config/media.css";

.t2-files {
	& ul {
		display: flex;
		flex-wrap: wrap;
		gap: var(--theme--spacing--lg);

		& > .t2-file-item {
			width: 100%;

			@media (--theme--medium) {
				width: calc((100% - var(--theme--spacing--lg) * 2) / 2);
			}

			@media (--theme--large-and-up) {
				width: calc((100% - var(--theme--spacing--lg) * 2) / 3);
			}
		}

		& .t2-file-item__link {
			border: 0;
			color: var(--theme--color--primary);
			padding: 0;

			&:hover,
			&:focus,
			&:hover .t2-file-item__icon,
			&:focus .t2-file-item__icon {
				color: var(--theme--color--primary-800);
				text-decoration: none;
			}

			& .t2-file-item__meta {
				color: var(--theme--color--neutral-400);
				font-size: var(--theme--font-size--xs);
			}
		}

		& .t2-file-item__icon {
			color: var(--theme--color--primary);
			margin-right: 0.75rem;

			& svg path {
				fill: currentColor;
			}
		}

		& .t2-file-item__filename {
			margin-bottom: 0.5rem;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}
