@import "../../config/mixins.css";
@import "../../config/media.css";

.wp-block-query-title {
	& + .wp-block-t2-query {
		margin-top: 0;
	}
}

.t2-query-search__submit {
	right: 0.5rem;

	& svg {
		fill: var(--wp--preset--color--primary);
	}
}

div.wp-block-t2-query {
	--t2-query-gap: var(--theme--spacing--md);

	/* Filters form at the top (search field, taxonomy/post type/sort by dropdowns) */
	& form.query-filters {
		@media (--theme--small-and-down) {
			grid-template-columns: 1fr !important;
		}

		& fieldset {
			padding: 0;
			margin: 0;
			border: none;

			& label {
				@mixin visually-hidden;
			}

			& select,
			& input {
				font-size: var(--theme--font-size--sm);
			}
		}
	}

	& > .results-title {
		display: inline-flex;
		color: var(--theme--color--neutral-400);
		font-size: var(--theme--font-size--xxs);
		justify-content: flex-end;
		margin-top: var(--theme--spacing--md);
		width: 100%;
	}

	/* Search input icon */
	& .query-search {
		& .t2-query-search__field {
			font-size: var(--theme--font-size--sm);
			padding-right: 3.25rem;

			&::placeholder {
				color: var(--theme--color--primary);
			}
		}

		& input[type="search"]::-webkit-search-cancel-button {
			-webkit-appearance: none;
		}

		& input[type="search"]::placeholder {
			color: var(--theme--color--primary);
		}
	}

	/* Results grid */
	& ul.query-results {
		@mixin list-inline;
		display: grid;
		column-gap: var(--theme--spacing--md);
		row-gap: var(--theme--spacing--lg);
		grid-template-columns: 1fr;

		@media (--theme--small-and-up) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (--theme--medium-and-up) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	&.is-post-type-person ul.query-results {
		& .post-details {
			@media (--theme--medium-and-up) {
				margin-top: var(--theme--spacing--md);
			}

			& .taxonomy-role {
				margin: var(--theme--spacing--xs) 0 0;
			}

			& .card-info {
				display: flex;
				flex-direction: column;
				gap: var(--theme--spacing--xs);
				margin-top: var(--theme--spacing--md);

				& a {
					color: var(--wp--preset--color--primary);
				}
			}
		}
	}

	/* Specific cases */
	&.with-taxonomy-filters,
	&.with-active-filters-pills {
		& ul.query-results {
			margin-top: var(--theme--spacing--lg);
		}
	}

	/* Pagination */
	& nav.query-pagination {
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: var(--theme--spacing--xl) 0;
		position: relative;

		& .page-numbers {
			align-items: center;
			color: var(--theme--text-color);
			display: flex;
			flex-direction: row;
			font-size: var(--theme--font-size--xs);

			&.prev,
			&.next {
				gap: 0.5em;
				position: absolute;

				& svg {
					width: 1.2em;
					height: 1.2em;
				}

				&:hover {
					color: var(--theme--color--primary);
				}

				& span {
					display: none;

					@media (--theme--small-and-up) {
						display: inline;
					}
				}
			}

			&.prev {
				left: 0;
				margin-right: var(--theme--spacing--md);
			}

			&.next {
				margin-left: var(--theme--spacing--md);
				right: 0;
			}

			&.dots {
				margin: 0 calc(var(--theme--spacing--md) / 2);
			}

			&.page-numbers {
				&:not(.prev):not(.next):not(.dots) {
					width: 2.8em;
					height: 2.8em;
					border-radius: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					margin: 0 calc(var(--theme--spacing--md) / 2);
					border: var(--theme--border-width) solid var(--theme--border-color--secondary);

					&.current {
						background-color: var(--theme--color--primary);
						border-color: var(--theme--color--primary);
						color: var(--theme--color--white);
					}

					&:hover:not(.current) {
						background: var(--theme--border-color--secondary);
					}
				}

				& svg {
					height: 1.5em;
					width: 1.5em;

					& path {
						fill: var(--theme--color--primary);
					}
				}
			}
		}
	}

	/* Loading state */
	&.is-loading {
		opacity: 0.5;
		pointer-events: none;
	}

	/**
	* Search page variation.
	*/
	&#search {
		& ul.query-results {
			grid-template-columns: 1fr;

			& .t2-post-excerpt {
				margin-top: 0.75rem;
			}
		}
	}
}

/* Active filters pills */
.query-active-filters {
	gap: 0.5rem;
	margin-top: var(--theme--spacing--md);
	width: 100%;

	& button {
		align-items: center;
		background-color: var(--theme--color--primary-100);
		border-radius: var(--theme--border-radius--lg);
		border: none;
		color: var(--theme--color--primary);
		cursor: pointer;
		display: inline-flex;
		font-family: inherit;
		font-size: var(--theme--font-size--xxs);
		gap: 0.25em;
		padding: 0.75em 1em;
		text-transform: uppercase;

		&:hover,
		&:focus {
			background-color: var(--theme--color--primary-200);
			color: var(--theme--color--primary-800);
		}

		& svg {
			fill: currentColor;
			margin-left: 0.25em;
		}
	}

	&.no-active-filters {
		display: none;
	}
}
