.t2-selling-points {
	&.t2-grid {
		--t2-grid-spacing-row-gap: 2rem;
		--t2-grid-spacing-column-gap: var(--theme--spacing--lg);
	}

	& .t2-selling-point {
		border: 0;
		justify-content: flex-start;
		text-align: center;
	}

	& .t2-selling-point__title {
		font-size: var(--theme--font-size--lg);
		font-weight: var(--theme--font-weight--semibold);
	}

	& .t2-selling-point__icon {
		align-items: center;
		background: var(--theme--color--primary-100);
		border-radius: 10rem;
		color: var(--theme--color--primary);
		display: inline-flex;
		height: 5rem;
		justify-content: center;
		margin-bottom: var(--theme--spacing--lg);
		margin-inline: auto;
		width: 5rem;

		& svg {
			height: 2rem;
			width: 2rem;
		}
	}

	& .t2-selling-point__description {
		font-size: var(--theme--font-size);
		margin: 0.5rem 0 0;
	}

	& .t2-selling-point__link {
		font-size: var(--theme--font-size);
		margin-top: var(--theme--spacing--md);
	}
}
